<h2><%= @cocktail.name %></h2>
<h4>Recipe:</h4>
<% @cocktail.doses.each do |dose| %>
<p><%= dose.description %> - <%= dose.ingredient.name %><%= link_to dose_path(dose),
            method: :delete,
            dose_id: dose.id,
            data: { confirm: "Are you sure?" } do %>
    <i class="far fa-trash-alt"></i>
<% end %></p>
<% end %>
<h4>Add a new ingredient:</h4>
<%= simple_form_for @dose do |f| %>
  <%= f.input :description %>
  <%= f.hidden_field :cocktail_id, :value => @cocktail.id %>
  <%= f.association :ingredient, class: "js-example-basic-single" %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<p></p>
<p><%= link_to 'Back', '/cocktails', class: "btn btn-primary" %></p>


